<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="margin: 0; padding: 0;">
    <div style="font-family: 'Trebuchet MS', 'MS Sans Serif', Geneva, sans-serif; font-size: 14px; line-height: 1.4; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; width: 100%;">
            <tr>
                <td  style="'Trebuchet MS', 'MS Sans Serif', Geneva, sans-serif; font-size: 1em; vertical-align: top; display: block; margin: 0 auto !important; max-width: 800px; box-sizing: border-box; width: 100%;">
                    <div style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 800px;">
                        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                            <tr bgcolor="#fff">
                                <td  colspan="2" style="padding: 20px 10%">
                                    <img style="display:inherit; height: auto; width: 80%; max-width: 200px;" src="cid:icon" alt="Logo">
                                </td>
                            </tr>
                            <tr bgcolor="#ff9494">
                                <td  colspan="2" style="font-family: 'Trebuchet MS', 'MS Sans Serif', Geneva, sans-serif; padding: 22px 10%; font-size: 30px; color: #fff; vertical-align: top;">
                                    <span>Oops! Something went wrong!</span>
                                </td>
                            </tr>
                            <tr bgcolor="#fff">
                                <td colspan="2" style="padding: 45px 10%; font-family: 'Trebuchet MS', 'MS Sans Serif', Geneva, sans-serif; font-size: 16px; vertical-align: top;">
                                    <p style="line-height: 1.5; margin: 0 0 10px 0;">Hi,</p>
                                    <p style="line-height: 1.5; margin: 0 0 10px 0;">
                                        The server encountered an internal error on
                                        <span style="font-weight: bold;">{{environment}}</span>
                                        at
                                        <span style="font-weight: bold;">{{date}}.</span>
                                    </p>
                                    <p style="line-height: 1.5; margin: 0 0 10px 0;">
                                        Status: <span style="font-weight: bold;">{{status}}</span><br/>
                                        Name: <span style="font-weight: bold;">{{name}}</span><br/>
                                        Message: <span style="font-weight: bold;">{{message}}</span>
                                    </p>
                                    <p style="line-height: 1.5; margin: 0 0 10px 0;">
                                        Here is the error stack:
                                        <span style="font-weight: bold;">{{error}}</span>
                                    </p>
                                </td>
                            </tr>
                            <tr bgcolor="#b7b7b7" style="clear: both; width: 100%; color: #fff;">
                                <td style="font-family: sans-serif; padding: 20px 20px 20px 10%; vertical-align: bottom; width: 50%;">
                                    <div>
                                        <img style="height: auto; width: 80%; max-width: 120px;" src="cid:icon" alt="Logo">
                                    </div>
                                    <div style="font-size: 10px; font-family: 'Trebuchet MS', 'MS Sans Serif', Geneva, sans-serif;">
                                        <span style="white-space: nowrap">&copy; 2018 Node Base.</span>
                                        <span style="white-space: nowrap">All rights reserved.</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>